* {padding:0;margin:0;}
body,html{margin:0;padding:0;font:normal 14px verdana, Arial,  sans-serif;font-family:"Microsoft YaHei" ! important,微软雅黑;font-family: 'Microsoft YaHei';position:relative;}
li,ol {list-style:none;}
label {cursor:pointer;}
form,ul,ul li,dl,dl dt,dl dd,table tr td,input{margin:0;padding:0;}
em,i,u,address {font-style:normal;text-decoration:none;}
.clear {clear:both;height:0;font-size:0;line-height:0;margin-top:-1px;overflow:hidden;position:relative;}
img{border:0;}
.disnone { display:none; }

.l_warp{background:url(../images/login_bg.gif) #f3f5f6 no-repeat center bottom; width:100%; height:auto;}
.l_main{width:472px; height:auto; margin:0 auto 0 auto; font-size:12px;}
.l_logo{margin:38px 0 0 55px;}
.l_main .lp_2{font-size:12px; color:#444; margin:45px auto 5px auto; letter-spacing:1px; width:190px; padding-left:20px; background:url(../images/top_p.png) no-repeat 11px; text-align:center;}
.l_main .lp_1{background:url(../images/login_c.gif); width:167px; height:28px; margin:20px auto 0 auto}

.login_btn{width:470px; height:50px;margin-top:15px; color:#6d6d6d;}
.login_btn2{width:462px; height:50px;margin-top:15px; color:#6d6d6d; position:relative;background:url(../images/butbg_l.gif) no-repeat; position:relative; line-height:50px; font-size:16px; padding-left:8px;}
.login_btn .btn_all{width:330px; height:46px;color:#999; line-height:50px; border:none;display:block; position:absolute; left:100px; top:2px; font-size:14px;}
.login_btn .btn_all2{width:130px; left:100px; top:2px; font-size:14px;}

.loginxx a:link,
.loginxx a:visited{color:#6d6d6d;display:inline-block; margin:0 12px 0 12px; text-decoration:none}
.loginxx a:hover{text-decoration:underline}
.loginxx  i{float:left; display:block; width:150px;}
.loginxx span{float:right; display:block; width:240px; overflow:hidden; margin-right:-12px;*+margin-top:3px; color:#ababab}
.but_d{background:url(../images/butbg_d.gif) no-repeat; width:470px; height:34px; border:none; font-size:18px; letter-spacing:7px; color:#fff;font-family:"Microsoft YaHei" ! important,微软雅黑;font-family: 'Microsoft YaHei'; }
.but_d:hover{background:url(../images/butbg_m.gif) no-repeat;}
.l_main .lp_3{letter-spacing:0px;background:url(../images/top_p2.png) no-repeat 11px;padding-left:10px; width:250px;letter-spacing:1px;}
.loginhz img{margin-left:3px;}
.login_bot{text-align:center; margin-top:20px; color:#010101;letter-spacing:1px; }
.login_bot p{color:#038fd4; font-size:16px; margin-bottom:5px;}
.login_bot a:link,
.login_bot a:visited{text-decoration:none; color:#3366cc;}
.login_bot a:hover{text-decoration:underline;}
.lp_4{color:#9e9e9e; margin:auto; margin-top:32px; padding-left:37px; background:url(../images/top_p3.png) no-repeat 11px; width:400px; display:block;}
.lp_4 a:link,
.lp_4 a:visited{color:#9e9e9e;display:inline-block; margin:0 10px 0 10px; text-decoration:none}
.lp_4 a:hover{text-decoration:underline}
.footer_l{height:25px; width:100%; background:url(../images/footerbg_l.gif) repeat-x; text-align:center; color:#9e9e9e; font-size:12px; padding-top:11px;}
.l_main .lp_5{background:url(../images/regist_c.png); width:172px; height:33px;margin:16px auto 40px auto;}
.loginx a:link,
.loginx a:visited{color:#6d6d6d;display:inline-block;}
.l_warp .l_main form p{display:block; margin-top:10px; color:#888;}
.l_warp .l_main form p img{margin-right:3px;}
.login_btn .yzm{position:absolute; right:0px; top:0px; border-left:1px solid #cfcfcf; width:185px; height:50px; font-size:14px;}
.login_btn .yzm .yzmpic{width:84px; height:49px; line-height:50px;vertical-align:middle; text-align:center; float:left; margin-top:2px;}
.login_btn .yzm .yzmpic img{vertical-align:central; }
.login_btn .yzm .yzmnu{width:90px; float:left;margin-top:1px; height:48px; line-height:48px;}
.box_con{width:750px; margin:auto; color:#666; line-height:22px; font-size:12px; font-family:Arial, Helvetica, sans-serif}
.box_con .tit{font-size:14px; color:#2681dc; margin-top:10px; display:block; font-weight:bold;}
.box_con h3{color:#000; margin-bottom:30px;margin-top:20px;}
.yesthis{width:22px; height:21px; position:absolute; top:15px; right:15px; background:url(../images/sendey.gif);}
.yesyzm{top:15px; right:200px; }
.font3s{letter-spacing:7px;}
.font2s{letter-spacing:14px;}








